<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:62548/Quickstarts/DataAccessServer</OpcUrl>
  <OpcUser>user</OpcUser>
  <OpcPassword>password</OpcPassword>
  <Streams>
    <Stream Name="Statpipe">
      <Composition>
        <Component Name="CO2"  Id="1"   Tag="ns=2;s=1:AI1001?K" ScaleFactor="1.0" />
        <Component Name="N2"   Id="2"   Tag="ns=2;s=1:AI1001?J" ScaleFactor="1.0" />
        <Component Name="CH4"  Id="101" Tag="ns=2;s=1:AI1001?A" ScaleFactor="1.0" />
        <Component Name="C2H6" Id="201" Tag="ns=2;s=1:AI1001?B" ScaleFactor="1.0" />
        <Component Name="C3"   Id="301" Tag="ns=2;s=1:AI1001?C" ScaleFactor="1.0" />
        <Component Name="iC4"  Id="401" Tag="ns=2;s=1:AI1001?D" ScaleFactor="1.0" />
        <Component Name="nC4"  Id="402" Tag="ns=2;s=1:AI1001?E" ScaleFactor="1.0" />
        <Component Name="iC5"  Id="503" Tag="ns=2;s=1:AI1001?F" ScaleFactor="1.0" />
        <Component Name="nC5"  Id="504" Tag="ns=2;s=1:AI1001?G" ScaleFactor="1.0" />
      </Composition>
      <Cricondenbar TemperatureTag="ns=2;s=1:AI1001?Temperature" PressureTag="ns=2;s=1:AI1001?Pressure" />
      <LiquidDropouts>
        <LiquidDropout>
          <WorkingPoint Name="Kårstø" PressureTag="ns=2;s=1:PI1001?Measurement"
                        TemperatureTag="ns=2;s=1:TI1001?Measurement"
                        MarginTag="ns=2;s=1:PI1002?Measurement"
                        DewPointTag="ns=2;s=1:PI1003?Measurement" />
        </LiquidDropout>
      </LiquidDropouts>
    </Stream>
    <Stream Name="Åsgard">
      <Composition>
        <Component Name="CO2" Id="1" Tag="ns=2;s=1:AI1002?K" ScaleFactor="1" />
        <Component Name="N2" Id="2" Tag="ns=2;s=1:AI1002?J" ScaleFactor="1" />
      </Composition>
      <Cricondenbar TemperatureTag="ns=2;s=1:AI1002?Temperature" PressureTag="ns=2;s=1:AI1002?Pressure" />
    </Stream>
  </Streams>
</configuration>