<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:62548/Quickstarts/DataAccessServer</OpcUrl>
  <OpcUser>user</OpcUser>
  <OpcPassword>password</OpcPassword>
  <OpcEndpoint>xxx</OpcEndpoint>
  <Streams>
    <Stream Name="Statpipe">
      <Composition>
        <Component Name="CO2" Id="1" Tag="31AI0157A_K" ScaleFactor="1" />
        <Component Name="N2" Id="2" Tag="31AI0157A_J" ScaleFactor="1" />
      </Composition>
      <Cricondenbar TemperatureTag="31TY0157_A" PressureTag="31PY0157_A" />
    </Stream>
    <Stream Name="Åsgard">
      <Composition>
        <Component Name="CO2" Id="1" Tag="31AI0161B_K" ScaleFactor="1" />
        <Component Name="N2" Id="2" Tag="31AI0161B_J" ScaleFactor="1" />
      </Composition>
      <Cricondenbar TemperatureTag="31TY0161_A" PressureTag="31PY0161_A" />
    </Stream>
  </Streams>
</configuration>