<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OpcUrl>opc.tcp://localhost:4840/freeopcua/server/</OpcUrl>
  <OpcUser></OpcUser>
  <OpcPassword></OpcPassword>
  <DefaultNamespaceURI>http://karsto.sas.io</DefaultNamespaceURI>
  <Interval>8000.0</Interval>
  <Streams>
    <Stream Name="Statpipe">
      <Composition>
        <Component Name="CO2"  Id="1"    Identifier="i=57" ScaleFactor="1" />
        <Component Name="N2"   Id="2"    Identifier="i=58" ScaleFactor="1" />
        <Component Name="CH4"  Id="101"  Identifier="i=59" ScaleFactor="1" />
        <Component Name="C2H6" Id="201"  Identifier="i=60" ScaleFactor="1" />
        <Component Name="C3"   Id="301"  Identifier="i=61" ScaleFactor="1" />
        <Component Name="iC4"  Id="401"  Identifier="i=62" ScaleFactor="1" />
        <Component Name="nC4"  Id="402"  Identifier="i=63" ScaleFactor="1" />
        <Component Name="iC5"  Id="503"  Identifier="i=64" ScaleFactor="1" />
        <Component Name="nC5"  Id="504"  Identifier="i=65" ScaleFactor="1" />
        <Component Name="2-M-C5"          Id="603"     Identifier="i=66" ScaleFactor="1" />
        <Component Name="3-M-C5"          Id="604"     Identifier="i=67" ScaleFactor="1" />
        <Component Name="nC6"             Id="605"     Identifier="i=68" ScaleFactor="1" />
        <Component Name="C7P / nC7"       Id="701"     Identifier="i=69" ScaleFactor="1" />
        <Component Name="C7N / cy-C6"     Id="606"     Identifier="i=70" ScaleFactor="1" />
        <Component Name="C7A / Benzene"   Id="608"     Identifier="i=71" ScaleFactor="1" />
        <Component Name="C8P / nC8"       Id="801"     Identifier="i=72" ScaleFactor="1" />
        <Component Name="C8N / cy-C7"     Id="707"     Identifier="i=73" ScaleFactor="1" />
        <Component Name="C8A / Toluene"   Id="710"     Identifier="i=74" ScaleFactor="1" />
        <Component Name="C9P / nC9"       Id="901"     Identifier="i=75" ScaleFactor="1" />
        <Component Name="C9N / cy-C8"     Id="806"     Identifier="i=76" ScaleFactor="1" />
        <Component Name="C9A / m-xylene"  Id="809"     Identifier="i=77" ScaleFactor="1" />
        <Component Name="nC10"            Id="1016"    Identifier="i=78" ScaleFactor="1" />
      </Composition>
      <Cricondenbar>
        <Pressure    Name="Pressure Name"     Identifier="i=80"    Unit="barg" Type="double" />
        <Temperature Name="Temperature Name"  Identifier="i=81" Unit="C"    Type="double" />
      </Cricondenbar>
      <LiquidDropouts>
        <LiquidDropout>
          <WorkingPoint Name="Kårstø">
            <Pressure    Name="Pressure Name"    Identifier="i=84" Unit="barg" />
            <Temperature Name="Temperature Name" Identifier="i=85" Unit="C" />
            <DewPointMargin      Name="Margin Name"      Identifier="i=86"             Type="double" />
            <DewPoint    Name="DewPoint Name"    Identifier="i=87" Unit="barg" Type="double" />
            <DropoutPoint Name="DropoutPoint Name" Identifier="i=88" DropoutPercent="2.5" Unit="barg" Type="double" />
          </WorkingPoint>
        </LiquidDropout>
      </LiquidDropouts>
    </Stream>
  </Streams>
</configuration>